<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <!-- AOS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->

  <link rel="stylesheet" href="../styles/main.css">

  <link rel="icon" type="image/x-icon" href="https://i.ibb.co/gTW5Z4y/SI-TUKIK-LOGO-1.png">

  <title>Si Tukik</title>
</head>
<body>
  <header>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body fixed-top">
      <div class="container-fluid ms-4">
        <a id="logoSiTukik" class="navbar-brand" href="#">
          <img src="https://i.ibb.co/gTW5Z4y/SI-TUKIK-LOGO-1.png" alt="SI-TUKIK-LOGO-1" border="0" style="width: 44px" class="me-2 ms-4">
          Si Tukik
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Contact</a>
            </li>
          </ul>
          <div id="login-button" class="ms-auto">
            <button class="btn px-4 rounded-4 filled-button ms-auto me-5" data-bs-toggle="modal" data-bs-target="#loginModal" type="submit" data-button="login1">Masuk</button>
          </div>
          <div class="ms-auto d-none" id="logout-button">
            <button class="btn px-4 rounded-4 filled-button ms-auto me-5" data-button="logout" id="logout" type="submit"><a href="#home" class="linkButton">Logout</a></button>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->
  </header>

  <!-- MODAL -->
  <!-- LOGIN -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 w-100 text-center" id="loginModalLabel">Masuk</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Alamat Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Masukkan Email">
            </div>
            <div class="">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Masukkan Password">
            </div>
            <button type="submit" class="btn btn-link fw-light" data-button="forgot" id="forgot">Lupa Password</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn text-center mx-auto filled-button rounded-4" data-button="login">Masuk</button>
          
        </div>
      </div>
    </div>
  </div>
  <!-- END LOGIN -->

  <!-- DETAIL PENYU LEKANG -->
  <div class="modal modal-lg fade" id="detailPenyuLekang" tabindex="-1" aria-labelledby="detailPenyuLekang" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h1 class="modal-title fs-5 w-100 text-center" id="judulDetailPenyuLekang">Statistik Penyu Lekang</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <h3 class="text-center">Tahun 2022</h3>
          <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 my-2">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Sarang Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="sarangDitemukanLekang">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurDitemukanLekang">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurMenetasLekang">642</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-2">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Gagal Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurGagalLekang">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Tukik Dilepaskan</div>
                <div class="card-body">
                  <h5 class="card-title" id="tukikDilepaskanLekang">642</h5>
                </div>
              </div>
            </div>
          </div>
          
          <h3 class="text-center">Keseluruhan</h3>
          <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-2 pb-5">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Sarang Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalSarangLekang">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Telur Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalTelurLekang">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Telur Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalMenetasLekang">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Tukik Dilepaskan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalTukikDilepaskanLekang">642</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- END DETAIL PENYU LEKANG -->

  <!-- DETAIL PENYU SISIK -->
  <div class="modal modal-lg fade" id="detailPenyuSisik" tabindex="-1" aria-labelledby="detailPenyuSisik" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h1 class="modal-title fs-5 w-100 text-center" id="judulDetailPenyuSisik">Statistik Penyu Sisik</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <h3 class="text-center">Tahun 2022</h3>
          <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 my-2">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Sarang Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="sarangDitemukanSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurDitemukanSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurMenetasSisik">642</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-2">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Gagal Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurGagalSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Tukik Dilepaskan</div>
                <div class="card-body">
                  <h5 class="card-title" id="tukikDilepaskanSisik">642</h5>
                </div>
              </div>
            </div>
          </div>
          
          <h3 class="text-center">Keseluruhan</h3>
          <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-2 pb-5">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Sarang Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalSarangSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Telur Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalTelurSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Telur Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalMenetasSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Tukik Dilepaskan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalTukikDilepaskanSisik">642</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- END DETAIL PENYU SISIK -->

  <!-- MODAL TAMBAH SARANG -->
  
  <!-- END MODAL TAMBAH SARANG -->
  <!-- END MODAL -->

  <main>
    <div class="container" id="mainContainer">
    <!-- CONTENT -->
    <!-- WELCOME -->
    <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-5" id="home">
      <div class="col">
        <div class="mx-auto">
          <h1 style="color: #61764B" class="fw-bold">Si Tukik</h1>
          <h2>Penyelamat Penyu</h2>
          <p>Selamat datang di aplikasi <span class="fw-bold">Si Tukik!</span> Aplikasi <span class="fw-bold">Si Tukik</span> adalah aplikasi pendataan penyu yang digunakan pada konservasi penyu Pantai Pelangi Yogyakarta. Melalui aplikasi ini konservator bisa melakukan pendataan dan kamu sebagai masyarakat umum bisa melihat statistik datanya.</p>
          
          <div class="row row-cols-1 row-cols-md-2 g-4 mx-2 my-2 ">
            <div class="col text-center">
              <button type="button" class="btn filled-button px-5 rounded-4" data-bs-toggle="modal" data-bs-target="#">Mulai</button>
            </div>
            <div class="col text-center">
              <button type="button" class="btn ghost-button px-5 rounded-4" data-bs-toggle="modal" data-bs-target="#">Informasi</button>
            </div>
          </div>
        </div>
      </div>
       <div class="col">
         <div class="mx-auto text-center">
           <img src="https://i.ibb.co/6b3dGzZ/Penyu-Sisik.jpg" alt="Penyu-Sisik" border="0" class="img-fluid rounded-4" style="width: 25rem">
         </div>
       </div>
    </div>
    <!-- END WELCOME -->
  
    <!-- ABOUT US -->
    <h2 class="text-center mt-5" id="about">About Us</h2>
    <p class="text-center">Konservasi Penyu Pantai Pelangi - 4K Yogyakarta</p>
    <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-2">
      <div class="col">
        <div class="mx-auto text-center">
          <img src="https://i.ibb.co/6b3dGzZ/Penyu-Sisik.jpg" alt="Penyu-Sisik" border="0" class="img-fluid rounded-4" style="width: 25rem">
        </div>
      </div>
      <div >
        <p>Konservasi Penyu Pantai Pelangi merupakan sebuah konservasi penyu yang berlokasi di Pantai Pelangi, Parangtritis, Kabupaten Bantul, Daerah Istimewa Yogyakarta. Berdirinya konservasi penyu ini didasari dari keinginan Bapak Sarwidi untuk dapat melestarikan kehidupan penyu, khususnya di wilayah Provinsi Daerah Istimewa Yogyakarta. Selanjutnya konservasi ini dikelola bersama dengan komunitas <a href="https://www.instagram.com/4k.yogyakarta/?hl=en">4K Yogyakarta.</a></p>
        <p>Penyu telah dikategorikan sebagai hewan langka yang mendekati kepunahan karena banyaknya perburuan manusia serta kerusakan habitat yang dimilikinya. Di Pantai Pelangi terdapat dua jenis penyu yang dapat ditemukan, yaitu penyu lekang dan penyu sisik. </p>
      </div>
    </div>
    <!-- END ABOUT US -->
  
    <!-- STATISTIK -->
    <!-- UMUM -->
      <h2 class="text-center mt-5" id="statistik">Statistik Konservasi Penyu</h2>
      <h3 class="text-center mt-3 pt-4">Statistik tahun 2022</h3>
      <div class="row row-cols-1 row-cols-md-5 g-4 mx-5 my-2">
        <div class="col">
          <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
            <div class="card-header">Sarang Ditemukan</div>
            <div class="card-body">
              <h5 class="card-title" id="sarangDitemukan">642</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
            <div class="card-header">Telur Ditemukan</div>
            <div class="card-body">
              <h5 class="card-title" id="telurDitemukan">642</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
            <div class="card-header">Telur Menetas</div>
            <div class="card-body">
              <h5 class="card-title" id="telurMenetas">642</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
            <div class="card-header">Telur Gagal Menetas</div>
            <div class="card-body">
              <h5 class="card-title" id="telurGagal">642</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
            <div class="card-header">Tukik Dilepaskan</div>
            <div class="card-body">
              <h5 class="card-title" id="tukikDilepaskan">642</h5>
            </div>
          </div>
        </div>
      </div>
       
      <h3 class="text-center mt-5">Statistik Keseluruhan</h3>
      <div class="row row-cols-1 row-cols-md-4 g-4 mx-5 my-2">
        <div class="col">
          <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
            <div class="card-header">Total Sarang Ditemukan</div>
            <div class="card-body">
              <h5 class="card-title" id="totalSarang">642</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
            <div class="card-header">Total Telur Ditemukan</div>
            <div class="card-body">
              <h5 class="card-title" id="totalTelur">642</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
            <div class="card-header">Total Telur Menetas</div>
            <div class="card-body">
              <h5 class="card-title" id="totalMenetas">642</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
            <div class="card-header">Total Tukik Dilepaskan</div>
            <div class="card-body">
              <h5 class="card-title" id="totalDilepaskan">642</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- END UMUM -->
    
      <!-- JENIS -->
      <h3 class="text-center mt-5">Statistik Berdasarkan Jenis</h3>
      <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-2">
        <div class="col"> 
          <div class="card text-center mx-auto  rounded-4 border-0" style="max-width: 30rem;">
            <img src="https://i.ibb.co/6b3dGzZ/Penyu-Sisik.jpg" alt="Penyu-Sisik" border="0" class="rounded-4">
            <div class="card-body">
              <button class="btn filled-button me-4 mt-3 px-3 rounded-4" data-bs-toggle="modal" data-bs-target="#detailPenyuLekang" type="button">Penyu Lekang</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center mx-auto tipe_penyu rounded-4 border-0" style="max-width: 30rem;">
            <img src="https://i.ibb.co/6b3dGzZ/Penyu-Sisik.jpg" alt="Penyu-Sisik" border="0" class="rounded-4">
            <div class="card-body">
              <button class="btn filled-button me-4 mt-3 px-3 rounded-4" data-bs-toggle="modal" data-bs-target="#detailPenyuSisik" type="button">Penyu Sisik</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END JENIS -->
    <!-- END STATISTIK -->
  
    <!-- DOKUMENTASI -->
    <h2 class="text-center mt-5" id="dokumentasi">Dokumentasi</h2>
    <div id="dokumentasiKonservasi" class="carousel slide mx-auto my-5" data-bs-ride="true" style="max-width: 70%">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#dokumentasiKonservasi" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#dokumentasiKonservasi" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#dokumentasiKonservasi" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://i.ibb.co/6b3dGzZ/Penyu-Sisik.jpg" class="d-block w-100" alt="1">
        </div>
        <div class="carousel-item">
          <img src="https://i.ibb.co/6b3dGzZ/Penyu-Sisik.jpg" class="d-block w-100" alt="2">
        </div>
        <div class="carousel-item">
          <img src="https://i.ibb.co/6b3dGzZ/Penyu-Sisik.jpg" class="d-block w-100" alt="3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#dokumentasiKonservasi" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#dokumentasiKonservasi" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- END DOKUMENTASI -->
    <!-- END CONTENT -->
  </div>
  </main>

  <!-- FOOTER -->
  <footer class="text-center text-lg-start text-muted" style="background-color: #E6F2DA" id="footer">
    <section class="mx-5">
      <div class="container text-center text-md-start mt-5 pt-4">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <img src="https://i.ibb.co/gTW5Z4y/SI-TUKIK-LOGO-1.png" alt="SI-TUKIK-LOGO-1" border="0" style="width: 44px" class="me-2">
        Si Tukik
            </h6>
            <p>
              Si Tukik adalah aplikasi pendataan penyu yang digunakan pada konservasi penyu Pantai Pelangi Yogyakarta. Aplikasi ini adalah hasil dari capstone project program SIB x Dicoding milik tim C22-177.
            </p>
          </div>
         
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-3">
            <h6 class="text-uppercase fw-bold mb-4">
              Links
            </h6>
            <p>
              <a href="#!" class="text-reset">Home</a>
            </p>
            <p>
              <a href="#!" class="text-reset">About</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Statistics</a>
            </p>
          </div>
         
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-3">
            <h6 class="text-uppercase fw-bold mb-4">Kontak</h6>
            <p><i class="bi bi-geo-alt-fill"></i> Pantai Pelangi, Kretek, Pantai, Parangtritis, Bantul, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772</p>
            <div>
              <a href="" class="me-3 text-reset">
                <i class="bi bi-instagram"></i>
              </a>
              <a href="" class="me-3 text-reset">
                <i class="bi bi-whatsapp"></i>
              </a>
              <a href="" class="me-3 text-reset">
                <i class="bi bi-youtube"></i>
              </a>
              <a href="" class="me-3 text-reset">
                <i class="bi bi-tiktok"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Capstone Dicoding C22-177</a>
    </div>
  </footer>

  <!-- END FOOTER -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <!-- mandatory -->
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <!--<script defer src="../scripts/globals/firebase-config.js"></script>-->

  <!-- AOS -->
  <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script> -->
</body>
</html>