<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#61764B"/>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="manifest" href="./app.webmanifest">
  
  <!-- AOS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->

  <link rel="icon" type="image/x-icon" href="https://i.ibb.co/gTW5Z4y/SI-TUKIK-LOGO-1.png">

  <title>Si Tukik</title>
</head>
<body>
  <header>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body fixed-top">
      <div class="container-fluid ms-4">
        <a id="logoSiTukik" class="navbar-brand" href="#">
          <img src="https://i.ibb.co/gTW5Z4y/SI-TUKIK-LOGO-1.png" alt="SI-TUKIK-LOGO-1" border="0" style="width: 44px" class="me-2 ms-4">
          Si Tukik
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/statistik">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/dokumentasi">Dokumentasi</a>
            </li>
          </ul>
          <div id="login-button" class="ms-auto">
            <button class="btn px-4 rounded-4 filled-button ms-auto me-5" data-bs-toggle="modal" data-bs-target="#loginModal" type="submit" data-button="login1">Masuk</button>
          </div>
          <!-- <div id="" class="ms-auto "> -->
            <ul class="ms-auto mt-3 me-4 rounded-4 d-none" id="profil-konservator">
              <li class="nav-item dropdown my-2"><a class="nav-link dropdown-toggle me-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profil</a>
                <ul class="dropdown-menu dropdown-menu-end mt-2">
                  <li><a class="dropdown-item mb-3" href="#/patroli">Halaman Pendataan</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <div class="ms-auto" id="logout-button">
                      <button class="btn px-4 rounded-4 filled-button ms-3 " data-button="logout" id="logout" type="submit"><a href="#home" class="linkButton">Logout</a></button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          <!-- </div> -->
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->
  </header>

  <!-- MODAL -->
  <!-- LOGIN -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 w-100 text-center" id="loginModalLabel">Masuk</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Alamat Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Masukkan Email">
            </div>
            <div class="">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Masukkan Password">
            </div>
            <button type="submit" class="btn btn-link fw-light" data-button="forgot" id="forgot">Lupa Password</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn text-center mx-auto filled-button rounded-4" data-button="login"><a href="#/" class="linkButton">Masuk</a></button>
          
        </div>
      </div>
    </div>
  </div>
  <!-- END LOGIN -->

  <!-- DETAIL PENYU LEKANG -->
  <div class="modal modal-lg fade" id="detailPenyuLekang" tabindex="-1" aria-labelledby="detailPenyuLekang" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h1 class="modal-title fs-5 w-100 text-center" id="judulDetailPenyuLekang">Statistik Penyu Lekang</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <h3 class="text-center">Tahun 2022</h3>
          <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 my-2">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Sarang Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="sarangDitemukanLekang"></h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurDitemukanLekang"></h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurMenetasLekang"></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-2">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Gagal Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurGagalLekang"></h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Tukik Dilepaskan</div>
                <div class="card-body">
                  <h5 class="card-title" id="tukikDilepaskanLekang">642</h5>
                </div>
              </div>
            </div>
          </div>
          
          <h3 class="text-center">Keseluruhan</h3>
          <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-2 pb-5">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Sarang Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalSarangLekang">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Telur Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalTelurLekang">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Telur Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalMenetasLekang">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Tukik Dilepaskan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalTukikDilepaskanLekang">642</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- END DETAIL PENYU LEKANG -->

  <!-- DETAIL PENYU SISIK -->
  <div class="modal modal-lg fade" id="detailPenyuSisik" tabindex="-1" aria-labelledby="detailPenyuSisik" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h1 class="modal-title fs-5 w-100 text-center" id="judulDetailPenyuSisik">Statistik Penyu Sisik</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <h3 class="text-center">Tahun 2022</h3>
          <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 my-2">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Sarang Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="sarangDitemukanSisik"></h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurDitemukanSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurMenetasSisik">642</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-2">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Telur Gagal Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="telurGagalSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Tukik Dilepaskan</div>
                <div class="card-body">
                  <h5 class="card-title" id="tukikDilepaskanSisik">642</h5>
                </div>
              </div>
            </div>
          </div>
          
          <h3 class="text-center">Keseluruhan</h3>
          <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 my-2 pb-5">
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Sarang Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalSarangSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Telur Ditemukan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalTelurSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Telur Menetas</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalMenetasSisik">642</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card statistic-card text-center rounded-5" style="max-width: 18rem;">
                <div class="card-header">Total Tukik Dilepaskan</div>
                <div class="card-body">
                  <h5 class="card-title" id="totalTukikDilepaskanSisik">642</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- END DETAIL PENYU SISIK -->
  <!-- END MODAL -->

  <main>
    <div class="container" id="mainContainer"></div>
  </main>

  <!-- FOOTER -->
  <footer class="text-center text-lg-start text-muted" style="background-color: #E6F2DA" id="footer">
    <section class="mx-5">
      <div class="container text-center text-md-start mt-5 pt-4">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <img src="https://i.ibb.co/gTW5Z4y/SI-TUKIK-LOGO-1.png" alt="SI-TUKIK-LOGO-1" border="0" style="width: 44px" class="me-2">
        Si Tukik
            </h6>
            <p>
              Si Tukik adalah aplikasi pendataan penyu yang digunakan pada konservasi penyu Pantai Pelangi Yogyakarta. Aplikasi ini adalah hasil dari capstone project program SIB x Dicoding milik tim C22-177.
            </p>
          </div>
         
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-3">
            <h6 class="text-uppercase fw-bold mb-4">
              Links
            </h6>
            <p>
              <a href="#!" class="text-reset">Home</a>
            </p>
            <p>
              <a href="#!" class="text-reset">About</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Statistics</a>
            </p>
          </div>
         
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-3">
            <h6 class="text-uppercase fw-bold mb-4">Kontak</h6>
            <p><i class="bi bi-geo-alt-fill"></i> Pantai Pelangi, Kretek, Pantai, Parangtritis, Bantul, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772</p>
            <div>
              <a href="" class="me-3 text-reset">
                <i class="bi bi-instagram"></i>
              </a>
              <a href="" class="me-3 text-reset">
                <i class="bi bi-whatsapp"></i>
              </a>
              <a href="" class="me-3 text-reset">
                <i class="bi bi-youtube"></i>
              </a>
              <a href="" class="me-3 text-reset">
                <i class="bi bi-tiktok"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Capstone Dicoding C22-177</a>
    </div>
  </footer>

  <!-- END FOOTER -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <!-- mandatory -->
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <!--<script defer src="../scripts/globals/firebase-config.js"></script>-->

  <!-- AOS -->
  <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script> -->
</body>
</html>